.table-img {
    width: 209px;
}

.table-img img {
    width: 100px;
}

.table-name {
    width: 201px;
}

.table-supplier {
    width: 268px;
}

.table-price {
    width: 174px;
}

.table-quantity {
    width: 278px;
}