.banner {
    border: 3px solid darkcyan;
    border-radius: 15px;
    padding: 40px;
    width: 1100px;
}

.banner:hover {
    border: 6px solid darkcyan;
    width: 1200px;
    height: 500px;
}

.banner-header {
    width: 450px;
}

.heading {
    color: darkcyan;
}


@media only screen and (max-width: 768px) {
    .banner {
        width: 360px;
        padding: 20px;
    }

    .banner-header {
        width: 250px;
    }

    .banner img {
        width: 300px;
    }

    .banner:hover {
        border: 6px solid darkcyan;
        width: 350px;
        height: 510px
    }
}